<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="login/JD_sass/JD1.css"/>
    <script src="login/JD_js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>注册成功</title>
</head>
<body>
<!--顶部logo-->
<header>

    <p>欢迎登录</p>
    <div class="top-1">
        <img src="login/JD_img/4de5019d2404d347897dee637895d02b_06.png"/><span>登录页面,调查问卷</span>
    </div>
</header>

<div class="top-2">
    <div class="top-2a">
        <img src="login/JD_img/4de5019d2404d347897dee637895d02b_11.png"/>
        <p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！新版《<span>谷粒商城隐私政策</span>》已上线，将更有利于保护您的个人隐私。</p>
    </div>
</div>





</body>
<script type="text/javascript">

</script>
</html>
